---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sharing-service
  labels:
    {{- include "epos.labels" . | nindent 4 }}
    app.kubernetes.io/component: sharing-service
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "epos.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: sharing-service
  template:
    metadata:
      labels:
        {{- include "epos.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: sharing-service
    spec:
      {{- include "epos.imagePullSecrets" . | nindent 6 }}
      initContainers:
      - name: wait-for-metadata-database
        image: busybox:latest
        command:
        - /bin/sh
        - -c
        - |-
          until nc -z metadata-database 5432; do
            sleep 1;
          done
      containers:
      - name: sharing-service
        image: {{ .Values.images.sharing_service_image }}
        ports:
        - containerPort: 8080
          name: http
        envFrom:
        - configMapRef:
            name: sharing-service
        livenessProbe:
          exec:
            command:
            - sh
            - -c
            - curl --fail --silent http://localhost:8080/api/sharing-service/v1/actuator/health | grep UP || exit 1
          initialDelaySeconds: 20
          periodSeconds: 15
          timeoutSeconds: 5
          failureThreshold: 5
        readinessProbe:
          exec:
            command:
            - sh
            - -c
            - curl --fail --silent http://localhost:8080/api/sharing-service/v1/actuator/health | grep UP || exit 1
          initialDelaySeconds: 20
          periodSeconds: 15
          timeoutSeconds: 5
          failureThreshold: 5
      {{- include "epos.nodeSelector" . | nindent 6 }}
      {{- include "epos.tolerations" . | nindent 6 }}
      {{- include "epos.affinity" . | nindent 6 }}
---
apiVersion: v1
kind: Service
metadata:
  name: sharing-service
  labels:
    {{- include "epos.labels" . | nindent 4 }}
    app.kubernetes.io/component: sharing-service
spec:
  ports:
  - port: 8080
    targetPort: 8080
    name: http
  selector:
    {{- include "epos.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: sharing-service
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sharing-service
  labels:
    {{- include "epos.labels" . | nindent 4 }}
    app.kubernetes.io/component: sharing-service
data:
  PERSISTENCE_NAME_SHARING: "EPOSSharing"
  POSTGRESQL_CONNECTION_STRING: "{{ include "epos.postgresqlConnectionString" . }}"
